/*---- Documents ----*/

div.form-group.col-lg-8 { padding-left: 0; }

.docs-controls { margin: 15px 0 30px; }
.docs-controls a { font-size: 12px !important; }

#choose-contractor-btn, #search-contractors-btn { margin-top: 21px; }

#contractors-list { padding: 15px; border: 1px solid #dedede; }

.field-outgoingdocs-send_date, .field-outgoingdocs-receive_date, 
.field-incomingdocs-send_date, .field-incomingdocs-receive_date,
.field-internaldocs-date, .field-otherdocs-date,
.field-incomingdocs-serial_number, .field-outgoingdocs-serial_number,
.field-internaldocs-serial_number, .field-otherdocs-serial_number { padding: 0; }

.doc-files { margin-left: 0; list-style: none; }

#contractors-list { max-height: 500px; overflow: auto; margin-bottom: 15px; }

/*---- /Documents ----*/