.procedures-create h3 { margin-bottom: 30px; }

/*div.form-group.col-lg-8 { padding-left: 0; }*/

.procs-controls { margin: 15px 0 30px; }
.procs-controls a { font-size: 12px !important; }

.choose-contractor-btn, #search-contractors-btn, #search-managers-btn { margin-top: 21px; }

#contractors-list, #managers-list { padding: 15px; border: 1px solid #dedede; max-height: 500px; overflow: auto; margin-bottom: 15px; }

.field-procedures { padding: 0; }

.field-procedures-create_date, .field-procedures-first { padding-left: 0; }

.doc-files { margin-left: 0; list-style: none; }

#common-properties { padding: 20px 0; }

div.radio:nth-of-type(2) label { float: left; margin-right: 32px; }
.field-procedures-applicant { margin-top: -27px; }
.choose-applicant-btn { margin-top: -7px; }

#add-prolongation-item { cursor: pointer; }
#collapse-prolongation-list .well .glyphicon.glyphicon-plus {
    padding: 5px;
    border: solid 1px #aaa;
    margin-bottom: 10px;
    border-radius: 3px;
}
#collapse-prolongation-list .well .form-group { margin: 5px 0 15px; }

.save-dialog { text-align: center; }
.save-dialog .form-group { margin-top: 15px; }
