/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: Pechkin;
    src: url('/fonts/Pechkin.ttf');
}


.letter {
    position: absolute;
    width: 683px;
    height: 486px;
    background-color: white;
}

.letter__sender {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 300px;
}

.letter__big-zip {
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 300px;
}

.letter__receiver{
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 300px;
}

textarea {
    width: 100%;
    font-size: 1.5em;
    resize: none;

    border-style: none;
    border-color: white;
    overflow: auto;
}

.letter__big-zip textarea {
    font-size: 2.5em;
    font-family: Pechkin;
}

.letter__zip {
    width: 100px;
    height: 1.5em;
}

.letter__zip textarea{
    text-align: center;
    border: 2px solid black;
}

.pull-right {
    float: right;
}

.submit {
    position: absolute;
    top: 550px;
    left: 10px;
}

.submit button {
    height: 50px;
    width: 100px;
}