.link-white,
.link-white:hover,
.link-white:visited,
.link-white:active {
  color: #fff;
 /* text-decoration: none;*/
  font-family: 'Open Sans', sans-serif;
}
ul {
  padding: 0;
  margin: 0;
}
h3,
p {
  padding: 0;
  margin: 0;
}
h3 { margin-bottom: 30px; }
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #2a3f54;
  overflow-x: hidden;
}
.container-box {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}
header {
  color: #fff;
  background-color: #2a3f54;
  padding-top: 10px;
  padding-bottom: 10px;
}
header h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 17px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  margin-top: 0px;
  text-align: center;
  color: #fff;
}
.logo {
  text-transform: uppercase;
  font-size: 12px;
  width: 52px;
  height: 52px;
  border-radius: 26px;
  display: inline-block;
  border: 2px solid #fff;
  padding-top: 15px;
  text-align: center;
  vertical-align: middle;
}
.logo-box p {
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  line-height: 12px;
  width: 200px;
  margin-left: 15px;
}
.main-logo {
  padding-top: 13px;
}
.main-logo .court-icon {
  vertical-align: middle;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('../img/icon-court.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
}
.main-logo .status-icon {
  vertical-align: middle;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #06bb9c;
  color: #fff;
  /*background-image: url('../img/icon-status.png');
  background-repeat: no-repeat;
  background-position: center;*/
  margin-right: 8px;
  margin-left: 8px;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.7em;
}
.main-logo .proc-icon {
  vertical-align: middle;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('../img/icon-proc.png');
  background-repeat: no-repeat;
  background-position: center;
}
.main-logo .proc-add {
  vertical-align: middle;
  display: inline-block;
  margin: 0 8px;
}
.main-name {
  text-align: center;
  margin-top: 5px;
  float: left;
}
.main-name span:first-child {
  font-size: 13px;
}
.main-name span:nth-child(2) {
  font-size: 12px;
}
.user-link a {
  display: inline-block;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
}
.user-link li:first-child {
  margin-bottom: 10px;
}

.user-link li {
    list-style-type: none;
}

.order-btn {
  margin-right: 10px;
}
.user-link {
  float: right;
  margin-top: 5px;
}
.number-order {
  background-color: #d9534f;
  color: #fff;
  display: inline-block;
  width: 16px;
}
main {
  padding-bottom: 22px;
  padding-top: 17px;
}
main .row {
  position: relative;
}
main .col-md-10 {
  width: 80%;
  padding: 0;
  margin-left: 8px;
}
main .col-md-2 {
  width: 19%;
}
.main-nav {
  width: 163px;
}
.main-nav h2 {
  font-size: 16px;
  background-color: #2a3f54;
  color: #fff;
  text-transform: uppercase;
  padding: 9px 0;
  text-align: center;
  margin: 0;
  font-weight: normal;
}
.main-nav .menu a {
  color: #2a3f54;
  display: block;
  font-size: 12px;
  text-align: center;
  padding: 10px 0;
  background-color: #f1f2f2;
  border: 1px solid #e9e9e9;
  border-collapse: collapse;
}
.main-nav .menu a:hover {
  background-color: #d7d9d9;
}
.main-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.records-box {
  position: relative;
  background: #f1f2f2;
  padding: 0;
  min-height: 560px;
}
.records-box .great-page {
  display: block;
  background-color: #26b99a;
 /* width: 102px;*/
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
 /* margin: 10px 0;*/
  margin-top: 10px;
  float: right;
  padding: 2px 0;
}
.records-box h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  background-color: #2a3f54;
  padding: 10px 0;
}
.records-box .records-table {
  background-color: #e6e7e7;
  color: #fff;
 /* width: 740px;*/
  font-size: 12px;
/*  margin: 0 auto;*/
}
.records-box .records-table thead {
  background-color: #a3b8be;
}
.records-box .records-table tbody {
  color: #2a3f54;
}
.records-box .records-table .number-th {
  width: 50px;
}
.records-box .records-table .data-th {
  width: 80px;
}
.records-box .records-table td,
.records-box .records-table th {
  padding: 12px 0;
  text-align: center;
  font-weight: 300;
}
.paginator {
 /* position: absolute;*/
  bottom: 14px;
  margin-left: 46%;
}
.paginator a {
  color: #2a3f54;
}
.news {
  margin-top: 20px;
}
.news h3 {
  font-size: 14px;
  padding-top: 15px;
}
.news li {
  background-color: #f1f2f2;
  padding: 0 10px;
}
.news li time {
  color: #2a3f54;
  font-size: 10px;
  line-height: 12px;
}
.news a {
  color: #2a3f54;
  font-size: 10px;
  line-height: 12px;
  display: inline-block;
  margin-left: 60%;
  border: 1px solid #e9e9e9;
  border-collapse: collapse;
}
.tasks {
  min-height: 260px;
  background: #f1f2f2;
}
.tasks h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  background-color: #2a3f54;
  padding: 10px 0;
  margin-bottom: 11px;
}
.tasks .tasks-table {
  background-color: #e6e7e7;
  color: #fff;
 /* width: 740px;*/
  font-size: 12px;
/*  margin: 0 auto;*/
}
.tasks .tasks-table thead {
  background-color: #a3b8be;
}
.tasks .tasks-table tbody {
  color: #2a3f54;
}
.tasks .tasks-table .number-th {
  width: 50px;
}
.tasks .tasks-table .data-th {
  width: 80px;
}
.tasks .tasks-table td,
.tasks .tasks-table th {
  padding: 12px 0;
  text-align: center;
  font-weight: 300;
}
footer {
  padding-top: 16px;
}
footer .small-logo {
  text-transform: uppercase;
  color: #2a3f54;
  display: block;
  border: 2px solid #536475;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 10px;
  padding-top: 10px;
  text-align: center;
}
footer p {
  text-align: center;
}
footer .social-btn {
  display: inline-block;
  float: right;
}
footer .vk-icon {
  background-image: url('../img/icon-vk.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
footer .f-icon {
  background-image: url('../img/icon-fb.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  border-top: 1px solid #e7e7e7;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.site-login{
    margin: 0 auto;
}

.btn-logout,
.btn-logout:hover,
.btn-logout:visited,
.btn-logout:active {
    margin: 0;
    padding: 0;
    color: #fff;
}

h2.title{
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    background-color: #2a3f54;
    padding: 10px 0;
}

.tables{
    margin-bottom: 24px;
}

.table{
    margin-top: 10px;
}

.sTables {
  background-color: #e6e7e7;
  color: #fff;
 /* width: 740px;*/
  font-size: 12px;
/*  margin: 0 auto;*/
}
.sTables thead {
  background-color: #a3b8be;
}
.sTables tbody {
  color: #2a3f54;
}
.sTables .number-th {
  width: 50px;
}
.sTables .data-th {
  width: 80px;
}
.sTables td,
.sTables th {
  padding: 12px 0;
  text-align: center;
  font-weight: 300;
}

.shadow-box {
    position: relative;
    background: #f1f2f2;
    padding: 0;
    min-height: 560px;
}

.nav-vertical ul.dropdown-menu {
  position: relative !important;
  border-radius: 0;
  box-shadow: none;
  border: none;
  float: none;
}

#proc-list-wrapper { display: inline-block; }

/*---- Documents ----*/ 

.nav-vertical li.active a { background: #d7d9d9; }

.nav-vertical > li.dropdown.visible ul.dropdown-menu { display: block; }

div.form-group.col-lg-8 { padding-left: 0; }

.docs-controls { margin-bottom: 30px; }

#choose-cotractor-btn, #search-contractors-btn { margin-top: 21px; }

#contractors-list { padding: 15px; border: 1px solid #dedede; }

.field-outgoingdocs-reg_date, .field-outgoingdocs-send_date, .field-outgoingdocs-receive_date, .field-incomingdocs-send_date, .field-incomingdocs-receive_date { padding: 0; }

.doc-files { margin-left: 0; list-style: none; }

#contractors-list { max-height: 500px; overflow: auto; margin-bottom: 15px; }

/*---- /Documents ----*/


/*---- References ----*/
table.detail-view th { width: 25%; }

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
                        
.creditor-request__tabs {
    margin-bottom: 20px;
}

.datepicker {
    z-index:1151 !important;
}
