.add-printdoc-item { cursor: pointer; }
.print_docs-index .well .glyphicon.glyphicon-plus {
    padding: 5px;
    border: solid 1px #aaa;
    margin-bottom: 10px;
    border-radius: 3px; 
}

div.form-group.col-lg-8, div.form-group.col-lg-5 { padding-left: 0; }

.choose-contractor-btn { margin-top: 21px; }

#contractors-list { padding: 15px; border: 1px solid #dedede; }

#params-form-wrap { margin-top: 20px; }

#doverparamsform-actions label { display: inline-block; margin-right: 15px; }

#od-grid, #bo-grid, #ls-grid { max-height: 500px; height: auto; overflow-y: auto; margin-bottom: 20px; }

#wrap-question-type, #wrap-proc-type { display: none; }