.modal-header h3 { margin-bottom: 10px; }
.acquaintance-block { margin: 20px 0 10px; }
.tab-pane { padding-top: 20px; }
input[type=hidden] + .help-block { margin: 0 !important; }

.update_item, .del_item, .print_item, .bulletin_item, .clone_item,
.update_variant, .delete_variant { margin-right: 5px; }

.btn-panel { padding-left: 15px; }

/* highlight results */
.ui-autocomplete span.hl_results {
    background-color: #ffff66;
}

/* loading - the AJAX indicator */
.ui-autocomplete-loading {
    background: white ;
}

/* scroll results */
.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding for vertical scrollbar */
    padding-right: 5px;
    z-index: 5000;
}

.ui-autocomplete li {
    font-size: 16px;
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 250px;

}

#meeting-tabs { margin-bottom: 20px; }

#pjax-participants-reestr table tr td:nth-of-type(2) { text-align: center; }

#bulletin-variant-form { margin-bottom: 20px; }
#bulletin-variant-form .help-block { display: none; }
#bulletin-variant-form #meetingvotingoptions-value { width: 400px; }
#variants-list { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #ddd; }
#variants-list .variants-item {
    width: 500px;
    padding: 10px 20px 10px 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: solid 1px #dedede;
    margin-bottom: 5px;
}

.edit-variant { width: 400px; }
#pjax-variants-reestr { max-height: 300px; overflow: auto}

.bulletin2-dropdown + .help-block,
.bulletin3-dropdown + .help-block,
.bulletin4-dropdown + .help-block { display: none; }

.grid-view .form-group { margin-bottom: 0; }
.grid-view button.candidates-choice { padding: 0; font-size: 1.0em; }

.candidates-voting-form { display: none; padding: 10px; background-color: #ededed; }
select.bulletin4-candidates-cnt-dropdown { width: 140px; }

#bulletin-variant-form .alert-danger { margin-top: 10px; }
#bulletin4-candidates-voting-form .help-block { display: none; }
#candidate-voices-list { max-height: 300px; overflow: auto; margin-bottom: 10px; }
.candidates-voting-form .well { margin-bottom: 10px; padding: 10px; }
.voices-result {
    padding: 5px 10px;
    margin-right: 15px;
    border: solid 1px #dedede;
    border-radius: 3px;
    width: 120px;
    text-align: right;
    display: inline-block;
}

#bulletin4-wrapper .variants-item .pull-right { margin-top: -6px; }

#creditors-list table tbody td:nth-of-type(3) { text-align: center; }
.grid-view .help-block { display: none; }
.grey-border {
    border: solid 1px #dedede;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 5px;
}
.grey-border .help-block { display: none; }
.add-outgoing-docs { float: right; }

#meeting-conclusion-form button[type=submit] { margin-right: 15px;  }
#meeting-conclusion-form .float-left { float: left; }
